<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melodiousplayer.mapper.CreatorMapper">

    <resultMap id="BaseResultMap" type="com.melodiousplayer.entity.Creator">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="smallAvatar" column="small_avatar" jdbcType="VARCHAR"/>
            <result property="largeAvatar" column="large_avatar" jdbcType="VARCHAR"/>
            <result property="vipLevel" column="vip_level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nick_name,small_avatar,
        large_avatar,vip_level
    </sql>
</mapper>
