<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melodiousplayer.mapper.HomeItemMapper">

    <resultMap id="BaseResultMap" type="com.melodiousplayer.entity.HomeItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="posterPic" column="poster_pic" jdbcType="VARCHAR"/>
            <result property="thumbnailPic" column="thumbnail_pic" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="hdUrl" column="hd_url" jdbcType="VARCHAR"/>
            <result property="uhdUrl" column="uhd_url" jdbcType="VARCHAR"/>
            <result property="musicSize" column="music_size" jdbcType="INTEGER"/>
            <result property="hdMusicSize" column="hd_music_size" jdbcType="INTEGER"/>
            <result property="uhdMusicSize" column="uhd_music_size" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="traceUrl" column="trace_url" jdbcType="VARCHAR"/>
            <result property="clickUrl" column="click_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,title,
        description,poster_pic,thumbnail_pic,
        url,hd_url,uhd_url,
        music_size,hd_music_size,uhd_music_size,
        status,trace_url,click_url
    </sql>
</mapper>
